<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>Blogs</title>
<style>
.btn-xs {
	padding: 5px;
	font-size: .6rem;
	line-height: 1.5;
	color: blue;
}
</style>

</head>
<body>
	<!-- **************** MAIN CONTENT START **************** -->
	<main>
		<th:block th:fragment="blog">
			<!-- Page content START -->
			<section class="pt-4">
				<div class="container">
					<!-- Search option START -->
					<div class="row mb-4">
						<!-- Search bar -->
						<div class="col-sm-12">
							<form class="border rounded p-2" th:action="@{/user/blog}">
								<div class="input-group input-borderless">
									<input class="form-control me-1" type="search"
										placeholder="Search Blogs Title By Keyword" name="keyword">
									<button type="submit" class="btn btn-primary mb-0 rounded">
										<i class="fas fa-search"></i>
									</button>
								</div>
							</form>
						</div>
					</div>

					<!-- Card container START -->
					<div class="row g-4">
						<div class="col-12">
							<div class="row">
								<!-- Card item START -->
								<div class="col-sm-6 col-md-4 col-lg-4 col-xl-3"
									th:each="blogPost : ${blogPosts}">
									<a th:href="@{/user/user-blog-detail/{id}(id=${blogPost.id})}"
										class="text-decoration-none">
										<div class="card bg-transparent"
											style="width: 100%; height: 350px;">
											<div class="overflow-hidden rounded-3"
												style="width: 100%; height: 200px;">
												<img
													th:src="@{'/private/blog/blog-images/' + ${blogPost.blogImage}}"
													class="card-img" alt="blog image"
													style="width: 100%; height: 100%; object-fit: cover;">
												<!-- Overlay -->
												<div class="bg-overlay bg-dark opacity-4"></div>
											</div>

											<!-- Card body -->
											<div class="card-body"
												style="height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
												<!-- Title -->
												<h5 class="card-title"
													style="overflow: hidden; text-overflow: ellipsis; white-space: wrap;">
													<span th:text="${blogPost.title}"></span>
												</h5>
											</div>
										</div>
									</a>
								</div>
								<!-- Card item END -->
							</div>
						</div>
					</div>
					<!-- Card container END -->
				</div>
			</section>

			<!-- Pagination and footer -->
			<div class="container">
				<div class="card-footer">
					<!-- Check if there are no results -->
					<div th:if="${totalPages == 0}" class="text-center">
						<p>No Blog Found.</p>
					</div>

					<!-- Pagination START -->
					<div th:if="${totalPages > 0}" class="d-sm-flex justify-content-sm-center align-items-sm-center">
						<nav class="d-flex justify-content-center mt-5" aria-label="navigation">
							<ul class="pagination pagination-primary-soft rounded mb-0">
								<li class="page-item" th:classappend="${currentPage == 0} ? 'disabled' : ''">
									<a class="page-link" th:href="@{/user/blog(page=${previousPage})}" tabindex="-1">
										<i class="fas fa-angle-double-left" th:classappend="${currentPage == 0} ? 'd-none' : ''"></i>
									</a>
								</li>

								<li th:each="i : ${#numbers.sequence(0, totalPages - 1)}" class="page-item" th:classappend="${currentPage == i} ? 'active'">
									<a class="page-link" th:href="@{/user/blog(page=${i})}" th:text="${i + 1}"></a>
								</li>

								<li class="page-item" th:classappend="${currentPage + 1 >= totalPages} ? 'disabled' : ''">
									<a class="page-link" th:href="@{/user/blog(page=${nextPage})}">
										<i class="fas fa-angle-double-right" th:classappend="${currentPage + 1 >= totalPages} ? 'd-none' : ''"></i>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</th:block>
	</main>
	<!-- **************** MAIN CONTENT END **************** -->

</body>
</html>
